

#############################################################
#----------------- Python Language -------------------------#
#############################################################


# Python virtual environments 
/.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints




#############################################################
#------------------------- Misc ----------------------------#
#############################################################


# Environments
.env