

#############################################################
#----------------- Python Language -------------------------#
#############################################################


# Python virtual environments 
/.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Pytorch
*.pth
*.pt



#############################################################
#------------------------- Misc ----------------------------#
#############################################################


# Environments
.env

# Dataset 
/data 